<mat-nav-list class="header-nav">
  <a
    mat-list-item
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Calc Page
  </a>

  <a
    mat-list-item
    routerLink="/api"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Api page
  </a>

  <a
    mat-list-item
    routerLink="/products"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Products page
  </a>
  <a
    mat-list-item
    routerLink="/forms"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Forms Page
  </a>
  <a
    mat-list-item
    routerLink="/redux"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Counter page
  </a>
  <a
    mat-list-item
    routerLink="/something"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Something page
  </a>
  <a
    mat-list-item
    routerLink="/product"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Disabled page
  </a>
</mat-nav-list>
